#port {
    position: relative;
}

#port img {
    width: 300px;
    height: 200px;
    outline: 2px solid #F39F90;
    padding: 0px;
    margin: 0px;
}

#port .title {
    position: absolute;
    width: 300px;
    bottom: 8%;
    background-color: #F39F90;
    color: #ffffff;
    padding: 10px;
    text-align: center; 
}

#port img:hover{
    opacity: 80%;
}

#port a:visited{
    color: gray;
}

#port a:hover{
    background-color: unset;
    text-decoration: none;
}
