* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
  }

#bkgrnd__main {
    background-image: url(../images/goldbrush2.png);
    background-repeat: no-repeat;
    background-position: 50% -10%;
    background-attachment: fixed;
}

.bkgrnd {
    background-color: rgb(255, 255, 255);
}

input[name=message] {
    height: auto;
    padding-top: 0;
    padding-bottom: 180px;
    text-align: top;
}

.aside.bkgrnd {
    background-color: gray;
    color: white;
}

a:link {
    color: gray;
}

a:visited {
    color: #F39F90;
}

a:hover {
    font-style: italic;
    color: white;
    background-color: rgb(128, 128, 128, 0.8);
    
}

.transparent {
    background: rgb(255, 255, 255, 0.8);
}

footer {
    background-color: #F39F90;
    color: white;
    text-align: right;
    /* font-family: 'Rock Salt', cursive; */

}

footer .font__focus {
    letter-spacing: 3em;
}

.font__focus {
    font-family: 'Courier Prime', monospace;
}

h2 {
    color: gray;
}

.container__scroll {
    overflow-y: auto;
    max-height: 250px; 
    background-color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }

/* Track */
::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #F39F90;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #F8C7A7;
  }

  .equal {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
    * {  
        float: left;
    }

    .spacing {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    img {
        width: max-content;
        display: block;
    }
    
    .container__scroll {
        height: auto;
    }  
}

#contact__img {
    position: relative;
    /* width: 80%; */
}

#contact__txt {
    position: absolute;
    top: 10px;
    left: 50px;
    color: white;
    font-size: 3em;
}