* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 10;
  }

#bkgrnd__main {
    background-image: url(../../../../../../../Desktop/goldbrush.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

.bkgrnd {
    background-color: rgb(255, 255, 255, 0.8);
}

a:link {
    color: #F8C7A7;
}

a:hover {
    color: #F8C7A7;
}

a:visited {
    color: #F8C7A7;
}

.transparent {
    background: rgb(255, 255, 255, 0.8);
}

.equal {
    display: flex;
    flex-wrap: wrap;
  }

footer {
    background-color: #F39F90;
}

.font__focus {
    font-family: 'Inconsolata', monospace;
}
